<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.wert.bazapik_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.AppCompat"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".remark.RemarksEditorActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ConnectionToServer"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".info.InfoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dataPreloading.DataLoadingActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".viewer.ViewerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".viewer.PicsViewerActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".MainActivity" />
        <activity android:name=".main.BaseActivity" />
        <activity android:name=".warnings.Error" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
            <data android:mimeType="application/solidworks-file" />
        </intent>

        <package android:name="com.solidworks.eDrawingsProAndroid" />
    </queries>





</manifest>